
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* ================ 

Navbar Start
================*/

.navbar{
    background-color: rgba(0, 0, 0, 0.501);
    position: sticky;
    top: 0;
    z-index: 111;
    left: 0;
}
.navbar .nav-link{
    margin-right: 10px;
    color: #fff !important;
    text-transform: uppercase;
    
  
}
.navbar .nav-link:hover{
    color:  rgb(230, 95, 120) !important;
}
.navbar ul .active{
    color:  rgb(230, 95, 120) !important;
}


/* ================ 

Navbar End
================*/





/* ================ 

Benner Start
================*/
#benner{
    margin-bottom: 100px;
    
}
#benner .carousel-item {
    position: relative;
   
}

#benner .carousel-item .overlay-text{
    content: '';
   
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  
    background-color: rgba(0, 0, 0, 0.775);

}
#benner .carousel-item .overlay-text .overlay-img{
    height: 200px;
    width: 200px;
    background: url(../images/ab.jpg);
border: 5px solid rgba(100, 98, 98, 0.871);
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%);


   margin-top: 100px;
   margin-bottom: 40px;
}

#benner .carousel-item .overlay-text .overlay-img img{
  

}
#benner .carousel-item .overlay-text h1{
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}
#benner .carousel-item .overlay-text h2{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
#benner .carousel-item .overlay-text span{
    color:  rgb(230, 95, 120) !important;
    margin-top: 20px;
}


/* ================ 

Benner End
================*/








/* ================ 

About Start
================*/
#about{
    margin-bottom: 100px;
}
#about .heider-text h3{
    font-size: 20px;
    color:  rgb(230, 95, 120) !important;

}
#about .heider-text h1{
   font-weight: 900;
    

}

#about .about-img{
    margin-top: 100px;
    height: 450px;
    width: 370px;
    border:10px solid black;
    margin-left: auto;
    position: relative;
}
#about .about-img img{
   position: absolute;
   top: -40px;
   left: -40px;
   height: 450px;
   transition: all linear 0.5s;
}

#about .about-img img:hover{
  
 
    transform: translateY(30px);
}

#about .about-text{
    margin-top: 50px;
}
#about .about-text h1{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
}
#about .about-text h1 span{
    color:  rgb(230, 95, 120) !important;
}
#about .about-info ul{
    margin-left: 0;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

#about .about-info li{
   
    margin-bottom: 10px;

}
#about .about-info .icon{
    color:  rgb(230, 95, 120) ;
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;

}


#about .about-info a{
    margin-top: 50px;
    padding: 15px 30px;
    background-color: rgb(230, 95, 120);
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
   
}
#about .about-info a::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #fff;
    background-color: rgb(240, 130, 150);
    visibility: hidden;
    transition: all linear 0.4s;
}
#about .about-info a:hover::after{
    content: '';
    width: 100%;
  
   visibility: visible;
   
    
}


/* ================ 

About End

================*/






/* ================ 

Services Start
================*/
#services{
    background-color:rgb(249, 249, 249);
    padding-top: 100px;
}
#services .card{
    border: none;
  
    border-radius: 0;
    box-shadow: 1px 1px 5px 1px rgb(172, 172, 172);
    transition: all linear 0.4s;
    margin-bottom: 30px;
}
#services .card:hover{
    border: none;
    border-radius: none;
    box-shadow: 1px 1px 10px 2px rgb(172, 172, 172);
}

#services .card .s-icon{
    font-size: 50px;
    padding-top: 40px;
    padding-left: 40px;
    color: rgb(240, 130, 150);
}
#services .card .card-title{
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;

}
#services .card .card-text{
    font-size: 18px;
    
  
    padding-left: 20px;
    padding-bottom: 50px;
   

}
#services .heider-text h3{
    font-size: 20px;
    color:  rgb(230, 95, 120) !important;

}
#services .heider-text h1{
   font-weight: 900;
   margin-bottom: 50px;
    

}
#services .heider-text p{
font-size: 20px;
padding-top: 10px;
padding-bottom: 100px;
    

}


/* ================ 

Services End
================*/





/* ================ 

 Protfolio Start
================*/
#protfolio{
   
}

#protfolio .heider-text h3{
    font-size: 20px;
    color:  rgb(230, 95, 120) !important;
    padding-top: 100px;

}
#protfolio .heider-text h1{
   font-weight: 900;
   margin-bottom: 80px;
    

}
#protfolio ul .active a{
    color:  rgb(230, 95, 120) ;
}
#protfolio ul{
    margin-bottom: 50px;
}
#protfolio ul li a{
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(55, 53, 53);
    transition: all linear 0.4s;
}
#protfolio ul li a:hover{
    color:  rgb(230, 95, 120) ;
}

#protfolio .card{
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 0;
  
}
#protfolio .card img{
    
   transition: all linear 0.4s;
}
#protfolio .card img:hover{
  transform: scale(1.3);
  
}

#protfolio .card-pd{
    margin-bottom: 100px;
}
/* ================ 

  Protfolio End
================*/


#skills{
    padding-top: 50px;
    padding-bottom: 50px;
}
#skills h1{
    font-weight: bold;
    color:  rgb(230, 95, 120) ;
}




/* ================ 

 News Start
================*/

#news{
    background-color:rgb(249, 249, 249);
}

#news .heider-text h3{
    font-size: 20px;
    color:  rgb(230, 95, 120) !important;
    padding-top: 100px;

}
#news .heider-text h1{
   font-weight: 900;
   margin-bottom: 80px;
    

}
#news .card{
    border: 0;
    background-color:rgb(249, 249, 249);
}

#news .card-title a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: all linear 0.4s;
}
#news .card-title a:hover{
    color:  rgb(230, 95, 120) !important;
}
#news .card-text{
    color:  rgb(100, 100, 100) !important;
    font-style: italic;
    margin-bottom: 100px;
}
/* ================ 

  News  End
================*/





/* ================ 

  Contact  Start
================*/



#contact .heider-text h3{
    font-size: 20px;
    color:  rgb(230, 95, 120) !important;
    padding-top: 100px;

}
#contact .heider-text h1{
   font-weight: 900;
   margin-bottom: 80px;
    

}
#contact .heider-text p{
   font-size: 18px;
   color: rgb(91, 92, 94);
    

}

#contact input{
    margin-bottom: 30px;
}
#contact textarea{
    margin-bottom: 30px;
}
#contact button{
  border-radius: 0;
 background-color: rgb(230, 95, 120);
 font-weight: bold;
 color: #fff;
 text-transform: uppercase;
 position: relative;
 z-index: 1;
 margin-bottom: 100px;
}


#contact button::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #fff;
    background-color: rgb(240, 130, 150);
    visibility: hidden;
    transition: all linear 0.4s;
}
#contact button:hover::after{
    content: '';
    width: 100%;
  
   visibility: visible;
   
    
}

/* ================ 


  Contact  End
================*/




/* ================ 


  fotter  Start
================*/

#fotter{
    background-color: rgb(0, 0, 0);
}
#fotter h5{
    color: #fff;
    padding: 100px 0;
}
#fotter ul li i{
    color: #fff;
    margin-right: 20px;
   margin-top: 100px;
   cursor: pointer;
   transition: all linear 0.4s;
    
}
#fotter ul li i:hover{
color: rgb(240, 130, 150);
    
}



/* ================ 


  fotter  End
================*/